html,body{margin: 0;padding:0;}
*{box-sizing: border-box;}
/*清除浮动*/
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}

/*左-右 浮动*/
.f-left{float: left;}
/*左-右 浮动*/
.f-left{float: left;}
.f-right{float: right;}

ul,li{margin: 0;padding:0;list-style: none;}
i{font-style: normal;}

a{text-decoration: none;}
img{border:0;}

/*阴影*/
.boxShadow {
	-webkit-box-shadow: #999 0 0 12px;
	-moz-box-shadow: #999 0 0 12px;
	box-shadow: #999 0 0 12px;
}
.boxShadow1 {
	-webkit-box-shadow: #999 0 0 2px;
	-moz-box-shadow: #999 0 0 2px;
	box-shadow: #999 0 0 2px;
}